{{page-title @title}}
<main class='flex-grow min-h-full mt-1 pt-4 overflow-y-scroll bg-cream'>
  <div class='max-w-7xl mx-auto py-6 sm:px-6 lg:px-8'>
    <div class='px-4 py-6 sm:px-0'>
      {{yield}}
    </div>
  </div>
</main>