<fieldset class='flex w-full flex-col mb-4 cursor-pointer'>
  <label class='w-full mb-2 font-bold text-primary'>
    {{@label}}
    <Input
      type={{@type}}
      value={{@value}}
      ...attributes
      class='mt-2 px-4 py-2 w-full rounded border border-primary placeholder-opacity-50 focus:outline-none focus:border-secondary'
    />
  </label>
</fieldset>